<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9LLF347WRQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9LLF347WRQ');
</script>

<style>
@font-face {
  font-family: "Kaufmann Regular";
  src: url("/assets/fonts/Kaufmann-Regular.ttf") format("truetype");
}
.kaufmann {
  font-family: "Kaufmann Regular", cursive;
}
</style>
<link rel="stylesheet" href="/assets/css/custom.css">
<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
